
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your email
      </h1>
      <p>
        Click the link in your password to reset your password.
      </p>
    </div>
  </div>
{% endblock %}
