
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Search cosmetic products",
        href: "/cosmetic-products"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% set doc = data.docs | withId(data.id) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ doc.product.productName }}
      </h1>
      <p class='govuk-body-l govuk-!-margin-bottom-2'>
        {{ doc.ukResponsiblePerson.name }}
      </p>
      <p>
        {{ doc.product.category }}, 
        <span class='lowercase'>{{ doc.product.subCategory }}, {{ doc.product.subSubCategory }}</span>
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class='govuk-grid-column-two-thirds'>
      <table class="govuk-table govuk-!-margin-bottom-3">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-3">Formulation</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Ethanol
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ doc.product.ethanol }}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Isopropanol
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ doc.product.isopropanol }}
            </td>
          </tr>
          {% if doc.product.essentialOils %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Essential oils
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ doc.product.essentialOils }}
            </td>
          </tr>
          {% endif %}
          {% if doc.product.camphor %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Camphor
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ doc.product.camphor }}
            </td>
          </tr>
          {% endif %}
          {% if doc.product.eucalyptol %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Eucalyptol
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ doc.product.eucalyptol }}
            </td>
          </tr>
          {% endif %}
          {% if doc.product.vitaminAOrDerivatives %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Vitamin A or its derivatives
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ doc.product.vitaminAOrDerivatives }}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Frame formulation
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table formulation-table">
            <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-left-2">
              {{ doc.product.subSubCategory }}
            </caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Oils (for example, vegetable and/or mineral), waxes and fats (for example, long chain alcohols) 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  30%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Silicones including volatile silicones (for example, cyclopentasiloxane, dimethicone) 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  20%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Humectants (for example, glycerin, propylene glycol, PEG) 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  20%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Thickeners (for example, carbomer, xanthan gum) 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  12%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Ethanol (alcohol, alcohol denat.) 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  10%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Additional ingredients (for example, vitamins, antioxidants, plant extracts)  
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  10%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Bulking agents (for example, talc, silica, nylon powder)  
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  5%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  UV filters  
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  5%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Emulsifying agents, anionic / amphoteric / non-ionic surfactants (for example, PEG stearate, ceteareth) 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  5%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Preservatives, antimicrobials 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  2%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Colorants 
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  2%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Parfum  
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  1%
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-left-2" scope="row">
                  Aqua to
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  100%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-3">Substances</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              CMRs
            </th>
            <td class="govuk-table__cell">
              {{ doc.product.cmr }}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Nanomaterials
            </th>
            <td class="govuk-table__cell">
              {{ doc.product.nanomaterials }}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-3">UK Responsible person</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Organisation
            </th>
            <td class="govuk-table__cell">
              {{ doc.ukResponsiblePerson.name }}
            </td>
          </tr>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Address
            </th>
            <td class="govuk-table__cell">
              {{ doc.ukResponsiblePerson.address.address1 }}<br>
              {% if doc.ukResponsiblePerson.address.address2 %}
                {{ doc.ukResponsiblePerson.address.address2 }}<br>
              {% endif %}
              {% if doc.ukResponsiblePerson.address.townOrCity %}
                {{ doc.ukResponsiblePerson.address.townOrCity }}<br>
              {% endif %}
              {% if doc.ukResponsiblePerson.address.county %}
                {{ doc.ukResponsiblePerson.address.county }}<br>
              {% endif %}
              {{ doc.ukResponsiblePerson.address.postCode }}
            </td>
          </tr>
        </tbody>
      </table>

      {% if doc.euResponsiblePerson.name %}
        <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-3">
          Responsible person on product label
        </caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Organisation
            </th>
            <td class="govuk-table__cell">
              {{ doc.euResponsiblePerson.name }}
            </td>
          </tr>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Address
            </th>
            <td class="govuk-table__cell">
              {{ doc.euResponsiblePerson.address.address1 }}<br>
              {% if doc.euResponsiblePerson.address.address2 %}
                {{ doc.euResponsiblePerson.address.address2 }}<br>
              {% endif %}
              {% if doc.euResponsiblePerson.address.townOrCity %}
                {{ doc.euResponsiblePerson.address.townOrCity }}<br>
              {% endif %}
              {% if doc.euResponsiblePerson.address.county %}
                {{ doc.euResponsiblePerson.address.county }}<br>
              {% endif %}
              {{ doc.euResponsiblePerson.address.postCode }}
            </td>
          </tr>
        </tbody>
      </table>
      {% endif %}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-3">Contact person</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Contact person
            </th>
            <td class="govuk-table__cell">
              {{ doc.contactPerson.fullName }}
            </td>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">
                Phone number
              </th>
              <td class="govuk-table__cell">
                {{ doc.contactPerson.phone }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">
                Email
              </th>
              <td class="govuk-table__cell">
                {{ doc.contactPerson.email }}
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class='govuk-grid-column-one-third'>
      {% if doc.preBrexit === 'false' %}
        <div class='product-image-large'>
          <div class='product-lid'>
          </div>
          <div class='product-bottle'>
            <p class='product-name'>{{ doc.product.productName }}</p>
            <p class='brand-name'>{{ doc.ukResponsiblePerson.name }}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
